<form method="POST" action="/demo">
<!--     <p>Returns crime rates, housing price info, place of interests</p> -->
    <div class="form-group">
        <font size="100">
        <p>SELECT CITY FOR PRE-GATHERED RESULT</p>
        <label for="inputs">CITY:</label>
        <select name="city" style="font-size:50px;">
            <option value="CHICAGO" style="font-size:50px;">CHICAGO</option>
            <option value="LOS ANGELES" style="font-size:50px;">LOS ANGELES</option>
            <option value="SAN FRANCISCO" style="font-size:50px;">SAN FRANCISCO</option>
            <option value="SEATTLE" style="font-size:50px;">SEATTLE</option>
            <option value="DIAMOND BAR" style="font-size:50px;">DIAMOND BAR</option>
        </select>
        </font>
    </div>
    
    
    <input type="submit" value="submit" style="font-size:50px;">
    
</form>
    <!-- 
<form method="POST" action="/kr">

    <label for="inputSymbols">종목코드</label>
    <input type="text" id="inputSymbol" name="symbols">
    
    <input type="submit" value="submit">
</form> -->
