<form method="POST" action="/us_local">
<!--     <p>Returns crime rates, housing price info, place of interests</p> -->
    <div class="form-group">
        <font size="100">
        <p>Returns crime rates, housing price info, place of interests</p>
        <label for="inputs">Choose Area Type:</label>
        <select name="typ" style="font-size:50px;">
            <option value="Zip" style="font-size:50px;">Zip</option>
            <option value="City" style="font-size:50px;">City</option>
            <option value="State" style="font-size:50px;">State</option>
            <option value="Address" style="font-size:50px;">Address</option>
        </select>
        </font>
    </div>
    
    <div class="form-group">
        <font size="100">
        <label for="inputs">Search:</label>
        <input style="font-size:50pt;" type="text" id="srch" name="srch">
        </font>
    </div>
<!--     <div class="form-group">
        <label for="inputSymbols">Choose Visualization Range:</label>
        <select name="vtype">
            <option value="hr">Past Hour</option>
            <option value="day">Past Day</option>
<!--             <option value="7days">Past 7 Days</option> -->
<!--             <option value="30days">past 30 Days</option> -->
<!--         </select>
    </div> --> -->

    <input type="submit" value="submit" style="font-size:50px;">
    
    <div class="form-group">
        <font size="100">
            <p>Optional inputs</p>
        <label for="inputs">Places of Interest:</label>
        <input style="font-size:50pt;" type="text" id="pois" name="pois">
        </font>
    </div>
    
    <div class="form-group">
        <font size="100">
        <label for="inputs">Name of demo</label>
        <input style="font-size:50pt;" type="text" id="name" name="name">
<!--         <input style="font-size:50pt;" type="int" id="radius" name="radius"> -->
        </font>
    </div>
</form>
    <!-- 
<form method="POST" action="/kr">

    <label for="inputSymbols">종목코드</label>
    <input type="text" id="inputSymbol" name="symbols">
    
    <input type="submit" value="submit">
</form> -->
